{% extends "base.html" %}

{% block contents %}
<div id="chatpanel">
</div>

<div id="userlist">
    <p>
        Pusher를 이용한 실시간 채팅 앱 만들기<br>
        <a href="http://pusher.com/">http://pusher.com/</a><br><br>
    </p>

    <h3>사용자 목록</h3>
        <div id="list-box">
            {% for key in userlist %}
            <a href="{{ userlist[key].link }}" id="user-{{ key }}" target="_blank"><h5 class="color-{{ userlist[key].color }}">{{ userlist[key].name }}</h5></a>
            {% endfor %}
        </div>

</div>

<div id="chatform">
    <div class="form-group">
        <div class="input-group input-group-lg">
            <div class="input-group-addon color-{{ color }}" id="username">{{ username }}</div>
            <input type="hidden" id="userid" value="{{ user_id }}"/>
            <input class="form-control input-lg" type="text" id="msg" placeholder="Insert Message">
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var pusher = new Pusher('ead87dfcb6bc713491cc');
        var channel = pusher.subscribe('testpusher');

        channel.bind('login', function (data) {
            $('#chatpanel').append("<div class=\"color-" + data.color + " appear\"><h4>" + data.name + "님이 대화에 참여하셨습니다.</h4></div>");
            $('#list-box').append("<a href=\"" + data.link + "\" id=\"user-" + data.id + "\" target='_blank'><h5 class=\"color-" + data.color + "\">" + data.name + "</h5></a>");
        });

        channel.bind('logout', function (data) {
            var target = "#user-";
            target += data.id;
            $('#chatpanel').append("<div class=\"color-" + data.color + " appear\"><h4>" + data.name + "님이 대화방을 나갔습니다.</h4></div>");
            $(target).remove();
        });
        
        channel.bind('event_msg', function (data) {
            $('#chatpanel').append("<div class='color-" + data.color + "''><h2><img src='" + data.img +"'/>  " + data.name + " <small>" + data.msg + "</small></h2></div>");
            var $box = $('#chatpanel');
            var height = $box.get(0).scrollHeight;
            $box.scrollTop(height);
        });
    });
</script>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
{% endblock %}
